Course(
    name: "Course I",
    active_hole: 1,
    length: 1,
    holes: [
        Hole(
            number: 1,
            par: 3,
            tee: [2., 5.],
            basket: [20., 5.],
            height: 30,
            width: 30,
            areas: [
                Area(
                    area_type: Woods,
                    borders: [
                        AreaBorder(
                            direction: Beneath,
                            func: "-0.05 * (x - 20) ^ 2 + 16",
                        ),
                        AreaBorder(
                            direction: Above,
                            func: "0.05 * (x - 12) ^ 2 + 1",
                        ),
                        AreaBorder(
                            direction: Above,
                            func: "x-10",
                        ),
                    ],
                ),
            ],
            ),
    ],
)