Course(
    name: "Course I",
    active_hole: 1,
    length: 1,
    holes: [
        Hole(
            number: 1,
            par: 3,
            tee: Point2(2., 5.),
            basket: Point2(20., 5.),
            height: 30,
            width: 30,
            areas: [],
            ),
    ],
)